:host {
    .login-img-area {
        background-color: #F2F2F2;
        width: 100%;
        .col {
            width: 585px;
        }
        .login-form {
            padding: 80px;
        }
    }
}