<div class="footer-area">
    <div class="d-flex flex-row">
        <div class="p-1"><span class="icon wh-32 facebook-icon"></span></div>
        <div class="p-1"><span class="icon wh-32 linked-icon"></span></div>
        <div class="p-1"><span class="icon wh-32 twitter-icon"></span></div>
    </div>
    <div class="d-flex flex-wrap footer-links  align-items-end">
        <a class="p-2">&copy; 2017 Chubb</a>
        <a class="p-2">Terms of use</a>
        <a class="p-2">Licensing Information</a>
        <a class="p-2">Privacy Policy</a>
        <a class="p-2">FATCA</a>
        <a class="p-2">NY Domestic Voilence Notice</a>
        <a class="p-2">Producer Compensation Legal Disclosuer</a>
    </div>
</div>