/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/scss/bootstrap';
.next-btn {
    width: 170px;
    height: 48px;
    text-align: center;
    font-size: 16pt;
    background-color: #3C92CA;
}